p{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: black
}
body{
    background-color: whitesmoke;
}
h1{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin: center;
}